.modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
  
}

form{
  position: absolute;
  left: 50%;
  top: 50%;
transform: translate(-50%, -50%);
  width: 35%;
  height: 75%;
  border-radius: 5px;
  background: #F8F8F8;
  position: relative;
  display: flex;
  flex-direction: column;
}

form h2{
  font-size: 30px;
  margin-left: 7%;
  margin-top: 7%;
  margin-bottom: 20px;
}

form label{
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-left: 7%;
  margin-bottom: 10px;
}

form input{
  padding: 10px 20px;
  width: 400px;
  border: 1px solid #333;
  margin-left: 7%;
  margin-bottom: 10px;
}

form textarea{
  padding: 10px 20px;
  width: 400px;
  border: 1px solid #333;
  margin-left: 7%;
  margin-bottom: 10px;
}

form button{
  padding: 15px 20px;
  width: 400px;
   background: #777;
  margin-left: 7%;
}

.x{
  position: absolute;
  left: 90%;
  top: 8%;
  font-size: 1.5em;
  font-weight: 600;
}

.x:hover{
  cursor: pointer;
}